:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    height: 100vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
    --primary-color: #F7F7F7;
    --secondary-color: #D4DDF7;
    --tertiary-color: #7E9AE7;
    --quarter-color: #2856D7;
    --quinary-color: #162140;
    [class*="col-"]{
        padding: 1rem;
    }
}
.navbar {
    padding: .6em;
    background-color: var(--tertoary-color);
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em!important;
    font-weight: 500;
}
.carousel-indicators li{
    background-color: var(--quinary-color);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
    color: var(--quinary-color);
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 3px #000;
    padding-bottom: 1rem;
    color: var(--quinary-color);
}
.btn-primary {
    background-color: var(--quinary-color);
    border: 1px solid var(--quinary-color);
}
.btn-primary:hover {
    background-color:var(--quarter-color);
    border: 1px solid var(--quarter-color);
    color:#000;
}

.btn-outline-secondary {
    background-color: var(--quarter-color);
    border: 1px solid var(--quarter-color);
    color: var(--quinary-color)
}
.btn-outline-secondary:hover {
    background-color:var(--quinary-color);
    border: 1px solid var(--quinary-color);
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
    background-color: var(--primary-color);
}
.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
figure {
    margin: 0;
 }
.fixed{ 
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 60%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 600px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
.inspiraciones {
    background-color: var(--primary-color);
    color: var(--quinary-color);
}
.inspirationtitle {
    padding-bottom: 3rem;  
    
}
.media-body {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sobremi {
    color: var(--quinary-color);
}
.social a {
    font-size: 1.1em;
    padding: 1em;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00eced;
}
.fa-instagram {
    color: #517fae;
}
.fa-facebook:hover,
.fa-twitter:hover, 
.fa-instagram:hover {
    color: #000;
}
.footer {
    background-color: var(--quinary-color);
    padding-top: 2em;
    color: var(--secondary-color);
}
hr.light {
    border-top: 2px solid #b4b4b4;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light100 {
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
@media (max-width: 992px){
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 400%;

    }
    .carousel-caption h3 {
        font-size: 240%;
        font-weight: 400;
        padding-bottom: .5rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 10px 16px;
    }
}

@media (max-width: 768px){
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;

    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

}
@media(max-width: 576px){
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;

    }
    .carousel-caption h3 {
        font-size: 110%;
        font-weight: 400;
        padding-bottom: .1rem;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators li{
        display: none;
    }
}

.carousel-item {
    transition: -webkit-tranform 0.5s ease;
    transition: tranform 0.5s ease;
    transition: tranform 0.5s ease,  -webkit-tranform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
