:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    height: 100vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
    --primary-color: #F7F7F7;
    --secondary-color: #D4DDF7;
    --tertiary-color: #7E9AE7;
    --quarter-color: #2856D7;
    --quinary-color: #162140;
}

#ig {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px; /* change this to change the size*/
}

article {
    background-color: var(--primary-color);
    header {
        div.barnav {
            background-color: var(--primary-color);
            nav.main-nav{
                color: var(--quinary-color);
                div.collapse {
                    ul {
                        border: 3px, solid, red;
                        color: var(--quinary-color);
                    }

                }
            }
        }
    }
    section.home-section {
        background-color: var(--tertiary-color);
    }
}
