$primary-red: red;
$secondary-red: pink;

section .omgfondo {
    background-image: url(/Imagenes/fondojumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-facebook-square {
    color: rgb(59, 91, 152);
  }